html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.myposter {
    min-height: 214px;
    background-position: center;
    background-size: 100%;
    transition: all 0.3s ease-in-out;
}

    .myposter:hover {
        background-size: 120%;
        transition: all 0.3s ease-in-out;
    }

